<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link type=""text/css rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1><a href="/unit3/blog">My Blog</a></h1>
        <p><a href="/unit3/blog/newpost">Create a new entry</a></p>
        {% if latest_entries %}
            {% for entry in latest_entries %}
                <div>
                    <div class="subject"><h4>{{ entry.subject }} (created {{ entry.created }})</h4></div>
                    <div class="content">{{ entry.content|safe }}</div>
                    {#<div>{{ entry.key().id() }}</div>#}

                </div>
                <hr>
            {% endfor %}
        {% endif %}
        {% if single_entry %}
            <div class="subject"><h4>{{ single_entry.subject }} (created {{ single_entry.created }})</h4></div>
            <div class="content">{{ single_entry.content|safe }}</div>
            {#<div>{{ single_entry.key().id() }}</div>#}
        {% endif %}
    </body>
</html>