<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <link type=""text/css rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1><a href="/blog">My Blog</a></h1>
        <p><a href="/blog/newpost">Create a new entry</a></p>
        <p><a href="/blog/.json">View all JSON</a></p>
        {% if latest_entries %}
            {% for entry in latest_entries %}
                <div>
                    <div class="post-subject">{{ entry.subject }}</div>
                    <div class="post-date">{{ entry.created.strftime('%b %d, %Y') }}</div>
                    <div class="post-content">
                        <p>{{ entry.content|safe }}</p>
                        <a href="/blog/{{ entry.key().id() }}">Permalink</a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        {% if single_entry %}
            <div class="post-subject">{{ single_entry.subject }}</div>
            <div class="post-date">{{ single_entry.created.strftime('%b %d, %Y') }}</div>
            <div class="post-content">
                <p>{{ single_entry.content|safe }}<p>
                <a href="/blog/{{ single_entry.key().id() }}.json">JSON</a>
            </div>
        {% endif %}
        <hr>
        <p>Queried {{ queried }} seconds ago</p>
    </body>
</html>