<!DOCTYPE html>
<html>
    <head>
        <title>CS253 Homework</title>
        <link type=""text/css rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <h1>Udacity CS253 Homework</h1>
        <h2>Unit 3 & 5</h2>
        <ul>
            <li><a href="/ascii">ASCII chan</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        <h2>Unit 4</h2>
        <ul>
            <li><a href="/blog/signup">User signup</a></li>
        </ul>
    </body>
</html>