<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>Edit page: {{ page_name }}</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/js/css/redactor.css" />
    </head>
    <body>
        <div class="row" id="header">
            <div class="span8">
                <h1>Edit page: {{ page_name }}</h1>
            </div>
            <div class="span2" id="edit_history">
                {% if page %}<a href="/wiki/_history/{{ page.name }}">History</a>{% endif %}
            </div>
            <div class="span2" id="user_info">
                {% if user %}{{ user.username }} (<a href="/wiki/logout">logout</a>){% endif %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
            <form class="form-horizontal" method="post">
            {% if error %}<div class="alert alert-error">{{ error }}</div>{% endif %}
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">HTML content:</label>
                    <div class="controls">
                        <textarea id="redactor_content" class="input-xlarge span10" rows="10" name="content">{{ content }}</textarea>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </fieldset>
        </form>
            </div>
        </div>
        <script src="/js/jquery-1.7.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/redactor.min.js"></script>
        <script type="text/javascript">
            $(document).ready(
                function()
                {
                    //var
                    $('#redactor_content').redactor();
                    //$("div#page").
                }
            );
        </script>
    </body>
</html>