<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>Page history: {{ page.name }}</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" id="header">
            <div class="span8">
                <h1>Page history: {{ page.name }}</h1>
            </div>
            <div class="span2" id="edit_history">
                {% if user %}<a href="/wiki/_edit/{{ page.name }}">Edit</a> | {% endif %}
                <a href="/wiki/{{ page.name }}">View</a>
            </div>
            <div class="span2" id="user_info">
                {% if user %}{{ user.username }} (<a href="/wiki/logout">logout</a>)
                {% else %} <a href="/wiki/login">Login</a> | <a href="/wiki/signup">Signup</a>
                {% endif %}
            </div>
        </div>
        {% for h in history %}
        <div class="row well">
            <div class="span3">
                {{ h.created.strftime('%b %d, %Y %H:%M') }} ({{ h.user.username }})
            </div>
            <div class="span7">
                {{ h.content }}
            </div>
            <div class="span2">
                <a href="/wiki/{{ h.page.name }}?v={{ h.version }}">View</a>
                {% if user %}| <a href="/wiki/_edit/{{ h.page.name }}?v={{ h.version }}">Edit</a>{% endif %}
            </div>
        </div>
        {% endfor %}
    </body>
</html>