<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>{{ page.name }}</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" id="header">
            <div class="span8">
                <h1>{% if page %}{{ page.name }}{% else %}SuperAwesomeAppEngineWiki{% endif %}</h1>
            </div>
            <div class="span2" id="edit_history">
                {% if user %}<a href="/wiki/_edit{{ page.name }}">Edit</a> | {% endif %}
                <a href="/wiki/_history{{ page.name }}">History</a>
            </div>
            <div class="span2" id="user_info">
                {% if user %}{{ user.username }} (<a href="/wiki/logout">logout</a>)
                {% else %} <a href="/wiki/login">Login</a> | <a href="/wiki/signup">Signup</a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="span12">
                {% if page %}
                    {{ content|safe }}
                {% else %}
                    <p>Welcome to the CS253 Final!</p>
                {% endif %}
            </div>
        </div>
    </body>
</html>