<!DOCTYPE html> 
<html lang="en">
    <head>
        <title>{{ name }}</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" id="header">
            <div class="span8">
                <h1>{{ name }}</h1>
            </div>
            <div class="span2" id="user_info">
                <a href="/wiki/login">Login</a> | <a href="/wiki/signup">Signup</a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p>This page does not exist yet. Why not <a href="/wiki/signup">signup</a> or <a href="/wiki/login">login</a> to create it?</p>
            </div>
        </div>
    </body>
</html>